* {
    box-sizing: border-box;
    
  }

#GOW{
    padding: 50px 80px;
    align-content: center;
}

.game-image{
padding: 0 2% 0 7%;
}

.jumbotron{
    background-color: #3a53ff2e;
    text-align: center;
    color: white;
    font-family: 'Ranchers', cursive;
}

body {
    background: black;
}
