* {
    box-sizing: border-box;
    
  }

#GOW{
    padding: 50px 80px;
    max-width: 1500px; height: auto;
}

.game-image{
width: 290px;
height: 345px;
padding: 10px;
display: block;

}

.flex-container {
    display: flex;
    justify-content: center;

  }
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    #GOW, .flex-container{
      width:100%;
    }
  }